.tetris-thumbnail{
	width: 33%;
	float:left;
	height: 170px;
	/*padding: 2px;*/
}

.list-view{
	float: none;
}

.tetris-thumbnail > div {
	text-align: center;
	padding: 5px;
}
	
.pager {
	clear: both;
}

.columna {
	width: 40%;
	float:left;
	margin: 10px;
}

#divequipo, #divtelefonia{
	clear:both;
}
/*.footer{
			
			margin: 10% auto;
		}*/
		

@media print
	{
		.navbar-header, .navbar-collapse, .breadcrumbs, h1, .search-button, .search-buttont, .search-form, .summary, .pager, #footer, .footer, input[type=checkbox], .chklabel{
			display: none;
		}
  		a{
  			text-decoration: none
  		}
  		a[href]:after {
		 content: none !important;
	  }
  
  		.tetris-thumbnail{
			width: 30%;
			float:left;
			margin: 5px;
		}
		
  
	}
